<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク編集</title>
</head>
<body>
    <h1>タスク編集</h1>
    <form action="#" th:action="@{/tasks/update}" th:object="${task}" method="post">
        <input type="hidden" th:field="*{id}" />
        <label>タイトル: <input type="text" th:field="*{title}" required/></label>
        <label>説明: <input type="text" th:field="*{description}" required/></label>
        <button type="submit">更新</button>
    </form>
</body>
</html>
